
    .gallery-img {
          /* full width of column */
  height: 500px;       /* fixed height for all images */
  object-fit: cover;   /* keeps aspect ratio, crops overflow */
  border-radius: 5px;  
}

